{% extends 'users/base.html' %}

{% block title %}Delete Food Item{% endblock %}

{% block content %}
    <div class="container">
        <h2>Are you sure you want to delete the food item for theater {{food.theater}}"?</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes,  Delete</button>
            <a href="{% url 'theater-dashboard' pk=food.theater.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
