{% extends 'users/base.html' %}

{% block title %}Delete Show{% endblock %}

{% block content %}
    <div class="container">
        <h2>Are you sure you want to delete the screen for movie"{{ show.movie }}"?</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes,  Delete</button>
            <a href="{% url 'theater-dashboard' pk=show.theater.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
