{% extends 'ticket/base.html' %}

{% block title %}{{ theater.name }} - Theater Detail{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ theater.name }}</h2>
        <p><strong>Location:</strong> {{ theater.location }}</p>

        <h3>Screens</h3>
        {% if screens %}
            <ul>
                {% for screen in screens %}
                    <li>
                        <strong>{{ screen.name }}</strong> - Total Seats: {{ screen.total_seats }} <a href="{% url 'screen-edit' screen_id=screen.id %}">Edit</a> <a href="{% url 'screen-delete' screen_id=screen.id %}">Delete</a>

                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No screens available for this theater.</p>
        {% endif %}
        <a href="{%url 'screen-add'%}">Add a Screen</a>
    </div>
{% endblock %}
